body {
    background-color: antiquewhite;
}

h1 {
    display: grid;
    justify-content: center;
}

form {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
}

input {
    width: 100%;
}

button {
    border: 1px solid black;
    background-color: rgb(14, 168, 168);
}

#msg {
    display: grid;
    justify-content: center;
    font-size: 2rem;
}